<a href="https://colab.research.google.com/github/2201204/BP_10_Ch5/blob/main/EXE2201204_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.

In [ ]:
age=20
if age < 20 : print("20살 미만")
else:print('20살 이상')

20살 이상

In [ ]:
2.

In [1]:
age = 30
if age < 20 : 
  print("20살 미만")
elif age>=30 and age<=50:
  print('30살 이상 50이하')
else:
  print('20살 이상')

30살 이상 50이하

In [ ]:
3.

In [ ]:
temp = int(input("현재 온도를 입력하시오.:"))
if temp >= 25:
  print("반바지를 입으세요.")
else:
  print("긴바지를 입으세요.")

현재 온도를 입력하시오.:10
긴바지를 입으세요.

In [ ]:
4.

In [ ]:
score = int(input("성적을 입력하시오: "))
if score >= 90:
  print("A학점입니다.")
elif score >= 80:
  print("B학점입니다.")
elif score >=70:
  print("D학점입니다.")
elif score >=60:
  print("D학점입니다.")
else :
  print("F학점입니다.")

성적을 입력하시오: 99
A학점입니다.

In [ ]:
5.

In [3]:
import random
x= random.randint(1,100)
y=random.randint(1,100)
ans = int(input(str(x)+"-"+str(y)+"="))
if ans == x-y:
  print("맞았습니다.")
else :
  print("틀렸습니다.")

21-90=-69
맞았습니다.

In [ ]:
6.

In [ ]:
n = int(input("정수를 입력하시오: "))
if n%2==0 and n%3==0:
  print("2와 3으로 나우어 떨어집니다.")
else :
  print("2와 3으로 나누어 떨어지지 않습니다.")

정수를 입력하시오: 6
2와 3으로 나우어 떨어집니다.

In [ ]:
7.

In [4]:
import random
x=random.randint(10,99)
y=int(input('복권번호를 입력하시오.(0에서 99사이):'))
x1=x//10
x2=x%10
y1=y//10
y2=y%10
print('당첨번호는',x,'입니다.')
if x==y:
  print("상금은 100만원입니다.")
elif y1==x2 and y2==x1:
  print("상금은 100만원입니다.")
elif (y1==x1 or y1==x1)or(y2==x1 or y2==x2):
  print("상금은 50만원입니다.")
else:
  print('상금은 없습니다.')

복권번호를 입력하시오.(0에서 99사이):67
당첨번호는 61 입니다.
상금은 50만원입니다.