<a href="https://colab.research.google.com/github/2201204/BP_10_Ch5/blob/main/EXE2201204_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.

In [ ]:
age=20  
if age < 20 : print("20살 미만")
else:print('20살 이상')

20살 이상

In [ ]:
2.

In [5]:
age = 30
if age < 20 : #age가 20보다 작은 숫자일 경우
  print("20살 미만") #20살 미만을 출력한다.
elif age>=30 and age<=50: #30이상 50일 경우
  print('30살 이상 50이하') #30살 이상 50이하라고 출력한다.
else: #20이상의 숫자일 경우
  print('20살 이상') #20이상을 출력한다.

30살 이상 50이하

In [ ]:
3.

In [ ]:
temp = int(input("현재 온도를 입력하시오.:"))
if temp >= 25:
  print("반바지를 입으세요.")
else:
  print("긴바지를 입으세요.")

현재 온도를 입력하시오.:10
긴바지를 입으세요.

In [ ]:
4.

In [6]:
score = int(input("성적을 입력하시오: ")) #성적을 입력 받은 후, 변수 score에 저장한다.
if score >= 90:       #만약 score가 90이상이면 A를 출력
  print("A학점입니다.")  
elif score >= 80:     #만약 score가 80이상이면 B를 출력
  print("B학점입니다.")
elif score >=70:      #만약 score가 70이상이면 C를 출력
  print("C학점입니다.")
elif score >=60:      #만약 score가 60이상이면 D를 출력
  print("D학점입니다.")
else :                #그 외 경우 F를 출력
  print("F학점입니다.")

성적을 입력하시오: 99
A학점입니다.

In [ ]:
5.

In [3]:
import random 
x= random.randint(1,100) #1-100까지의 무작위 정수를 변수 x에 저장한다.
y=random.randint(1,100)  #1-100까지의 무작위 정수를 변수 y에 저장한다.
ans = int(input(str(x)+"-"+str(y)+"="))
if ans == x-y:           #답일 경우 맞았습니다.를 출력
  print("맞았습니다.")
else :                   #답이 아닐 경우 틀렸습니다.를 출력
  print("틀렸습니다.")

21-90=-69
맞았습니다.

In [ ]:
6.

In [ ]:
n = int(input("정수를 입력하시오: "))
if n%2==0 and n%3==0:
  print("2와 3으로 나우어 떨어집니다.")
else :
  print("2와 3으로 나누어 떨어지지 않습니다.")

정수를 입력하시오: 6
2와 3으로 나우어 떨어집니다.

In [ ]:
7.

In [4]:
import random
x=random.randint(10,99)
y=int(input('복권번호를 입력하시오.(0에서 99사이):')) #무작위 int형 숫자를 변수 x에 저장
x1=x//10
x2=x%10
y1=y//10
y2=y%10
print('당첨번호는',x,'입니다.') #당첨번호 출력
if x==y:  
  print("상금은 100만원입니다.")
elif y1==x2 and y2==x1:  #숫자가 2개 전부 같을 때
  print("상금은 100만원입니다.")
elif (y1==x1 or y1==x1)or(y2==x1 or y2==x2): #숫자가 1개만 같을 때
  print("상금은 50만원입니다.")
else:  #숫자 2개가 전부 다를 때
  print('상금은 없습니다.')

복권번호를 입력하시오.(0에서 99사이):67
당첨번호는 61 입니다.
상금은 50만원입니다.